html {
  font-size: 62.5%;
}

.body {
  color: #333333;
  background-color: #fefefd;
  font-family: "Alice", serif;
}

@media (max-width: 480px) {
  .body {
    color: #111111;
  }
}

.change_color_orange {
  color: #201f21;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#f1ddbd), to(#ffffff));
  background-image: linear-gradient(to bottom right, #f1ddbd, #ffffff);
}

.change_color_blue {
  color: white;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#444860), color-stop(#646986), to(#cbcbcb));
  background-image: linear-gradient(to bottom right, #444860, #646986, #cbcbcb);
}

.change_color_black_hamburger {
  color: #333333;
}

a {
  display: inline-block;
}

li {
  display: inline-block;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0 0 40px;
}

.header__logo {
  font-size: 3rem;
  font-weight: bold;
}

.nav {
  z-index: 998;
  font-size: 17px;
}

@media (max-width: 769px) {
  .nav {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 12%;
    z-index: 998;
    background: #fff;
    opacity: 0.8;
  }
}

@media (max-width: 480px) {
  .nav {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background: #fff;
    opacity: 0.8;
  }
}

@media (max-width: 769px) {
  .nav__lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 480px) {
  .nav__lists {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.nav__list {
  padding: 35px;
  cursor: pointer;
}

@media (max-width: 480px) {
  .nav__list {
    margin-bottom: 50px;
  }
  .nav__list:first-child {
    margin-top: 30px;
  }
}

.nav__list:hover {
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.nav__list.__orange {
  color: #c3b18f;
}

.hamburger {
  display: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
  z-index: 999;
  background: #cccccc;
  opacity: 0.7;
}

@media (max-width: 769px) {
  .hamburger {
    display: block;
    position: fixed;
  }
}

.hamburger span {
  display: block;
  width: 20px;
  height: 2px;
  background: #333;
  position: absolute;
  left: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hamburger span:nth-child(1) {
  top: 10px;
}

.hamburger span:nth-child(1).is_open {
  top: 20px;
  -webkit-transform: rotate(-405deg);
          transform: rotate(-405deg);
}

.hamburger span:nth-child(2) {
  top: 20px;
}

.hamburger span:nth-child(2).is_open {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.hamburger span:nth-child(3) {
  top: 30px;
}

.hamburger span:nth-child(3).is_open {
  top: 20px;
  -webkit-transform: rotate(405deg);
          transform: rotate(405deg);
}

.show {
  display: block;
}

#back-to-top {
  width: 50px;
  height: 50px;
  background: #444860;
  cursor: pointer;
  position: fixed;
  border-radius: 30px;
  bottom: 20px;
  right: -100px;
  z-index: 100;
  opacity: 0.3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#back-to-top:hover {
  opacity: 0.7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#back-to-top::before {
  content: "";
  width: 20px;
  height: 20px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  top: 20px;
  left: 15px;
}

#back-to-top.in {
  right: 20px;
}

.note__btn {
  z-index: 998;
  height: 40px;
  width: 40px;
  cursor: pointer;
  position: fixed;
  top: 25px;
  right: 40px;
  font-size: 30px;
}

@media (max-width: 769px) {
  .note__btn {
    top: 70px;
    right: 25px;
  }
}

.note__icon {
  display: none;
}

.note__icon.note__in {
  display: block;
}

.note__color1 {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  position: fixed;
  border: 1px solid #707070;
  z-index: 997;
  cursor: pointer;
  top: 30px;
  right: 130px;
  background-color: #fff;
}

@media (max-width: 769px) {
  .note__color1 {
    top: 90px;
    right: 110px;
  }
}

.note__color2 {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  position: fixed;
  border: 1px solid #707070;
  z-index: 997;
  cursor: pointer;
  top: 85px;
  right: 103px;
  background-color: #f7ecda;
}

@media (max-width: 769px) {
  .note__color2 {
    top: 140px;
    right: 83px;
  }
}

.note__color3 {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  position: fixed;
  border: 1px solid #707070;
  z-index: 997;
  cursor: pointer;
  top: 115px;
  right: 50px;
  background-color: #0f2c83;
}

@media (max-width: 769px) {
  .note__color3 {
    top: 160px;
    right: 32px;
  }
}

.fv {
  width: 100%;
  position: relative;
}

.fv__texts {
  top: 55px;
  left: 10%;
  position: absolute;
  z-index: 1;
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
}

.fv__texts.wipe_in {
  width: 80%;
}

.fv__title {
  font-size: 60px;
  letter-spacing: 2px;
  margin-bottom: 30px;
  font-weight: bold;
}

@media (max-width: 480px) {
  .fv__title {
    font-size: 30px;
  }
}

.fv__sub_title {
  font-size: 50px;
  letter-spacing: 8px;
  line-height: 100px;
  margin-bottom: 30px;
}

@media (max-width: 480px) {
  .fv__sub_title {
    font-size: 25px;
  }
}

.fv__text {
  font-size: 20px;
  letter-spacing: 3px;
  line-height: 30px;
  margin-bottom: 60px;
}

@media (max-width: 480px) {
  .fv__text {
    font-size: 16px;
  }
}

.fv__border {
  height: 2px;
  width: 40px;
  border-bottom: 2px solid;
}

.fv__view {
  text-align: right;
  margin-top: 112px;
}

.fv__photo {
  height: 570px;
  width: 933px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(115%);
          filter: brightness(115%);
  z-index: -1;
}

@media (max-width: 769px) {
  .fv__photo {
    width: 768px;
  }
}

@media (max-width: 480px) {
  .fv__photo {
    width: 100%;
    -o-object-position: 75% 0;
       object-position: 75% 0;
  }
}

.profile {
  margin-top: 20px;
  padding: 100px 80px 100px 0;
  background-color: #f8f8f4;
}

@media (max-width: 769px) {
  .profile {
    padding: 70px 20px;
  }
}

.profile.bgc_orange {
  background-color: #f3efe3;
}

.profile.bgc_blue {
  background-color: #1e1e3d;
}

.profile__title {
  margin-left: 21%;
  padding-bottom: 100px;
  font-size: 70px;
  font-weight: bold;
  letter-spacing: 3px;
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
}

@media (max-width: 480px) {
  .profile__title {
    text-align: center;
    margin-left: 0;
  }
}

.profile__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
}

@media (max-width: 480px) {
  .profile__contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.profile__photo {
  width: 507px;
  height: 356px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 2px #222222;
          box-shadow: 2px 2px 2px #222222;
}

@media (max-width: 769px) {
  .profile__photo {
    width: 400px;
    height: 280px;
  }
}

@media (max-width: 480px) {
  .profile__photo {
    width: 93%;
    height: 230px;
  }
}

.profile__texts {
  line-height: 60px;
  margin: 30px 0 0 10%;
  font-size: 20px;
  letter-spacing: 2px;
  font-family: "Noto Sans JP", sans-serif;
}

@media (max-width: 769px) {
  .profile__texts {
    font-size: 18px;
    margin: 30px 0 70px 40px;
  }
}

@media (max-width: 480px) {
  .profile__texts {
    margin: 0;
  }
}

.profile__item:nth-child(1) {
  margin-left: 25px;
}

@media (max-width: 480px) {
  .profile__item:nth-child(1) {
    margin-left: 0;
  }
}

.profile__item:nth-child(2) {
  margin-left: 45px;
}

@media (max-width: 480px) {
  .profile__item:nth-child(2) {
    margin-left: 0;
  }
}

.portfilio {
  padding: 0 80px 120px;
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
}

@media (max-width: 769px) {
  .portfilio {
    padding: 0 30px 70px;
  }
}

@media (max-width: 480px) {
  .portfilio {
    padding: 0 20px 50px;
  }
}

.portfilio__title {
  text-align: center;
  font-size: 70px;
  font-weight: bold;
  margin: 115px 0 100px 0;
  letter-spacing: 2px;
}

@media (max-width: 769px) {
  .portfilio__title {
    margin: 70px 0 70px;
  }
}

.portfilio__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 769px) {
  .portfilio__contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 480px) {
  .portfilio__contents {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.portfilio__photo {
  height: 380px;
  width: 650px;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 3px gray;
          box-shadow: 3px 3px 3px gray;
}

@media (max-width: 769px) {
  .portfilio__photo {
    width: 80%;
    height: 300px;
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .portfilio__photo {
    width: 90%;
    height: 230px;
  }
}

.portfilio_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.portfilio__texts {
  margin-right: 7%;
  line-height: 30px;
  letter-spacing: 1px;
  font-family: "Noto Sans JP", sans-serif;
}

@media (max-width: 769px) {
  .portfilio__texts {
    margin: 0 auto;
    font-size: 18px;
  }
}

.portfilio__sub_title {
  font-size: 23px;
  margin-bottom: 30px;
  letter-spacing: 2px;
}

@media (max-width: 769px) {
  .portfilio__sub_title {
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  .portfilio__sub_title {
    font-size: 20px;
    text-align: center;
  }
}

.portfilio__text {
  font-size: 16px;
  margin-left: 20px;
}

@media (max-width: 769px) {
  .portfilio__text {
    margin-left: 30px;
  }
}

.portfilio__text:nth-child(7) {
  margin-bottom: 30px;
}

@media (max-width: 480px) {
  .portfilio__text {
    margin: 0;
    width: 90%;
    margin: 0 auto;
    font-size: 13px;
  }
}

.portfilio__list {
  margin-left: 40px;
  list-style: disc;
  display: list-item;
  font-size: 16px;
}

@media (max-width: 769px) {
  .portfilio__list {
    margin-left: 50px;
  }
}

@media (max-width: 480px) {
  .portfilio__list {
    margin-left: 20px;
    font-size: 13px;
  }
}

.skill {
  margin: 0 100px 100px;
  position: relative;
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
}

@media (max-width: 480px) {
  .skill {
    margin: 0 20px 50px;
  }
}

.skill__title {
  text-align: center;
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 100px;
  letter-spacing: 2px;
}

@media (max-width: 769px) {
  .skill__title {
    margin-bottom: 70px;
  }
}

@media (max-width: 480px) {
  .skill__title {
    font-size: 60px;
    margin: 0 20px 50px;
  }
}

.skill .skill_box_in {
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.skill_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #333333;
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.skill_box:nth-child(odd) {
  margin-top: 35px;
}

@media (max-width: 480px) {
  .skill_box:nth-child(odd) {
    margin-top: 20px;
  }
}

.skill_box:last-child {
  margin-top: 35px;
}

@media (max-width: 480px) {
  .skill_box:last-child {
    margin-top: 20px;
  }
}

@media (max-width: 769px) {
  .skill_box {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 480px) {
  .skill_box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.skill .--items {
  padding: 24px 10px 40px;
  border: 1px solid #707070;
  border-radius: 10px;
  -webkit-box-shadow: 2px 1px 1px #707070;
          box-shadow: 2px 1px 1px #707070;
  text-align: center;
  background-color: #f8f8f4;
}

@media (max-width: 480px) {
  .skill .--items {
    width: 80%;
    margin: 0 auto 20px;
  }
}

.skill .--items:nth-child(2) {
  margin: 0 30px;
}

@media (max-width: 769px) {
  .skill .--items:nth-child(2) {
    margin: 0 20px;
  }
}

@media (max-width: 480px) {
  .skill .--items:nth-child(2) {
    margin: 0 auto 20px;
  }
}

.skill--icon {
  height: 130px;
  width: 250px;
  margin-bottom: 25px;
}

@media (max-width: 769px) {
  .skill--icon {
    width: 200px;
  }
}

.skill .skill__design_in {
  display: block;
  -webkit-transition: 2s;
  transition: 2s;
}

.skill__design {
  position: relative;
  display: none;
}

.skill__design::before {
  content: "";
  display: block;
  position: absolute;
  height: 12px;
  width: 2px;
  background: #707070;
  top: 39%;
  left: 51%;
  -webkit-animation: asobi 6s forwards;
          animation: asobi 6s forwards;
}

@-webkit-keyframes asobi {
  0% {
    -webkit-transform: rotate(0) translateX(137px);
            transform: rotate(0) translateX(137px);
  }
  100% {
    -webkit-transform: rotate(9865deg);
            transform: rotate(9865deg);
  }
}

@keyframes asobi {
  0% {
    -webkit-transform: rotate(0) translateX(137px);
            transform: rotate(0) translateX(137px);
  }
  100% {
    -webkit-transform: rotate(9865deg);
            transform: rotate(9865deg);
  }
}

@media (max-width: 769px) {
  .skill__design::before {
    top: 38%;
  }
}

.skill .asobi {
  right: 500px;
}

.skill__sub_title {
  text-align: center;
  font-size: 35px;
  margin-bottom: 25px;
  letter-spacing: 1px;
  font-weight: lighter;
}

@media (max-width: 769px) {
  .skill__sub_title {
    font-size: 30px;
  }
}

.skill__text {
  line-height: 30px;
  font-size: 16px;
  font-family: "Noto Sans JP", sans-serif;
}

@media (max-width: 769px) {
  .skill__text {
    font-size: 12px;
  }
}

.skill #camera_point {
  background-color: #faf4e0;
}

.skill #music_point {
  background: #e9e8fa;
}

.skill #after_point {
  background: #fff3f5;
}

.skill .--one_point {
  font-size: 13px;
}

.skill .notice {
  color: #c3b18f;
}

.thought {
  margin: 0 50px 100px;
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
}

@media (max-width: 769px) {
  .thought {
    margin: 0 30px 70px;
  }
}

.thought__title {
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 75px;
  margin-left: 17%;
}

@media (max-width: 480px) {
  .thought__title {
    font-size: 60px;
  }
}

.thought__photo {
  width: 580px;
  height: 450px;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 3px gray;
          box-shadow: 3px 3px 3px gray;
}

@media (max-width: 480px) {
  .thought__photo {
    width: 100%;
    height: 300px;
  }
}

.thought__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 769px) {
  .thought__contents {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.thought__sub_title {
  font-size: 40px;
  text-align: center;
  margin: 0 20px 35px 0;
}

.thought__texts {
  line-height: 35px;
  letter-spacing: 2px;
  margin-left: 10%;
  font-size: 16px;
  font-family: "Noto Sans JP", sans-serif;
}

@media (max-width: 769px) {
  .thought__texts {
    margin: 30px 0 70px 0;
    letter-spacing: 3px;
    margin-left: 0;
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .thought__texts {
    font-size: 14px;
    letter-spacing: 0px;
  }
}

.thought--red {
  color: #f87171;
}

.thought--yellow {
  color: #f7c565;
}

.contact {
  text-align: center;
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
}

.contact__title {
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 100px;
}

.contact__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__item {
  width: 40%;
  border-bottom: 1px solid;
  margin: 0 auto 50px;
  text-align: left;
  padding: 10px;
}

@media (max-width: 769px) {
  .contact__item {
    width: 60%;
  }
}

@media (max-width: 480px) {
  .contact__item {
    width: 75%;
  }
}

.contact__field {
  width: 40%;
  border: 1px solid;
  margin: 0 auto 50px;
  text-align: left;
  padding: 10px;
}

@media (max-width: 769px) {
  .contact__field {
    width: 60%;
  }
}

@media (max-width: 480px) {
  .contact__field {
    width: 75%;
  }
}

.contact .placeholder_white::-webkit-input-placeholder {
  color: white;
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
}

.contact .placeholder_white:-ms-input-placeholder {
  color: white;
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
}

.contact .placeholder_white::-ms-input-placeholder {
  color: white;
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
}

.contact .placeholder_white::placeholder {
  color: white;
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
}

.contact__btn {
  padding: 25px 100px;
  border: thick double;
  border-radius: 30px;
}

.contact__btn:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: gray;
  color: white;
}

footer {
  margin: 20px 0;
  text-align: center;
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
}

.entrance {
  padding: 50px 50px 80px;
  width: 100vw;
  height: 100vh;
  background: #666 url("../img/entrance.jpg") center/cover;
  position: relative;
  z-index: 0;
}

@media (max-width: 769px) {
  .entrance {
    width: 100vw;
    height: 100vh;
  }
}

@media (max-width: 480px) {
  .entrance {
    width: 100%;
    height: 100%;
    padding: 30px 13px 50px;
  }
}

.entrance::before {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: inherit;
  -webkit-filter: brightness(0.5) grayscale(0.5) blur(3px);
          filter: brightness(0.5) grayscale(0.5) blur(3px);
  z-index: -1;
}

@media (max-width: 480px) {
  .entrance::before {
    -webkit-filter: brightness(0.5) grayscale(0.5) blur(0px);
            filter: brightness(0.5) grayscale(0.5) blur(0px);
  }
}

.entrance__box {
  color: #f2f2f2;
  text-align: center;
}

.entrance__title {
  font-size: 60px;
  text-shadow: 0 0 10px #333;
  font-weight: 200;
  letter-spacing: 3px;
  margin-bottom: 50px;
  font-family: "Alice", serif;
}

@media (max-width: 480px) {
  .entrance__title {
    line-height: 30px;
    font-size: 30px;
    letter-spacing: 1px;
  }
}

.entrance__text {
  font-size: 20px;
  line-height: 45px;
  font-family: "Noto Sans JP", sans-serif;
}

@media (max-width: 480px) {
  .entrance__text {
    line-height: 0px;
    font-size: 20px;
  }
}

@media (max-width: 769px) {
  .entrance__text {
    line-height: 60px;
  }
}

.entrance__text:nth-child(5) {
  margin-bottom: 50px;
}

@media (max-width: 769px) {
  .entrance__text:nth-child(5) {
    margin-bottom: 100px;
  }
}

@media (max-width: 769px) {
  .entrance__text:nth-child(8) {
    letter-spacing: -1px;
  }
}

.entrance__text:nth-child(9) {
  margin-bottom: 80px;
}

.entrance__gate {
  padding: 20px 40px;
  border: 2px solid white;
  border-radius: 10px;
}

.entrance__gate:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: white;
  color: #707070;
}
/*# sourceMappingURL=style.css.map */
